<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="WaveRiderSDR"
    Language="1033"
    Version="$(var.CargoPackageVersion)"
    Manufacturer="WaveRiderSDR"
    UpgradeCode="A4EEBF98-45EE-49EF-A68E-A4216202E2C8">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of WaveRiderSDR is already installed."
      Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="WaveRiderSDR" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File
          Id="WaveRiderExe"
          Source="$(var.CargoTargetBinDir)\waverider_sdr.exe"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="WaveRiderSDR"
          Description="Launch WaveRiderSDR"
          Target="[INSTALLFOLDER]waverider_sdr.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\WaveRiderSDR"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="WaveRiderSDR" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Product>
</Wix>
